@{

    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BootstrapLayout.narrow.cshtml";
    @*<a href="~/Views/Shared/_BootstrapLayout.narrow.cshtml">~/Views/Shared/_BootstrapLayout.narrow.cshtml</a>*@
}

<h2>Index</h2>
<div ng-app>
    <h1 data-ng-controller="HelloWorldCtrl">{{helloMessage}}</h1>

    </div>

